/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v17-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-800.woff") format("woff"), url("../fonts/open-sans-v17-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/open-sans-v17-latin_cyrillic-800.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-600.woff") format("woff"), url("../fonts/open-sans-v17-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/open-sans-v17-latin_cyrillic-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

html {
  min-height: 100vh;
  min-width: 320px;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 71.04%;
  height: 232px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 10px #C4C4C4;
  box-shadow: 0px 4px 10px #C4C4C4;
  border-radius: 8px;
}

.banner--center {
  margin: 0 auto;
  margin-top: 30px;
}

.circle-medium {
  position: absolute;
  top: 167px;
  right: 144px;
  width: 15px;
  height: 15px;
  background: rgba(251, 178, 22, 0.6);
  border-radius: 50px;
}

.splash {
  position: absolute;
  width: 173px;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
}

.splash-left {
  background-image: url("../../images/banners/splash-left.png");
  left: -104px;
}

.splash-right {
  background-image: url("../../images/banners/splash-right.png");
  right: -33px;
}

.photo-description__wrapper {
  padding: 30px 13.000977517% 0 14.173998045%;
  width: 72.825024438%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.photo {
  position: relative;
  width: 106px;
  height: auto;
}

.photo__img {
  position: relative;
  width: 106px;
  height: 117px;
  z-index: 2;
  margin-bottom: 8px;
}

.photo__url1 {
  background-image: url("../../images/photos/people-1690965_1920 3.png");
}

.photo__url2 {
  background-image: url("../../images/photos/people-875597_1280 1.png");
}

.photo__url3 {
  background-image: url("../../images/photos/male-2634974_1280 1.png");
}

.photo__splash {
  position: absolute;
  width: 122.31px;
  height: 174.83px;
  background-image: url("../../images/banners/splash-photo.png");
  top: -20px;
  right: -49px;
  z-index: 2;
}

.photo__name {
  width: 200px;
  height: 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  margin: 0 0 2px 0;
}

.photo__profession {
  width: 200px;
  height: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  margin: 0;
}

.photo__circle-big {
  position: absolute;
  width: 123px;
  height: 123px;
  top: -19px;
  left: -39px;
  background-color: rgba(251, 178, 22, 0.6);
  border-radius: 50%;
  z-index: 1;
}

.description {
  margin-left: 13.587487781%;
}

.description__dots {
  position: absolute;
  width: 140px;
  height: 49.28px;
  top: 0;
  left: 265px;
  background-image: url("../../images/banners/Dots.png");
  z-index: -5;
}

.description__wrapper {
  max-width: 500px;
  min-width: 288px;
}

.description__drivers {
  position: relative;
  margin-bottom: 26px;
}

.description__feature {
  position: relative;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  z-index: 2;
}

.description__will-do {
  position: relative;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  z-index: 2;
  line-height: 22px;
}

.description__will-do p {
  margin: 0;
}

.description__circle-medium {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: rgba(251, 178, 22, 0.6);
  top: 9px;
  left: -22px;
}

.stages {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 163px;
  height: 3px;
  bottom: 37px;
  left: 50%;
  margin-left: -81.5px;
}

.stages__inactive {
  width: 49px;
  height: 100%;
  background-image: url("../../images/banners/paginator__inactive.png");
  cursor: pointer;
}

.stages__active {
  width: 49px;
  height: 100%;
  background-image: url("../../images/banners/paginator__active.png");
}

.move2 {
  left: 49px;
}

.move3 {
  left: calc(49px*2);
}

.driver__wrapper {
  min-width: 230px;
}

@media only screen and (min-width: 670px) and (max-width: 1000px) {
  .banner {
    width: 90.364583333%;
  }
  .photo-description__wrapper {
    padding: 30px 13.000977517% 0 12%;
    width: 67%;
  }
  .description {
    margin-left: 8.5%;
  }
  .description__dots {
    top: 87px;
    left: -15%;
    z-index: -9;
  }
  .description__circle-medium {
    top: 12px;
    right: -26%;
    left: initial;
  }
  .circle-medium {
    top: 151px;
    right: 166px;
  }
  .photo {
    z-index: 9;
  }
  .photo__name {
    position: relative;
    z-index: 100;
  }
}

.description__will-do {
  max-width: 309px;
}

.description__will-do p {
  display: inline;
}

@media only screen and (min-width: 320px) and (max-width: 670px) {
  .description__dots, .splash, .photo__splash {
    display: none;
  }
  .banner {
    width: 70.4%;
  }
  .photo-description__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px 10.133333333% 0 8.7%;
    width: 76.8939393939%;
  }
  .photo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 8.5%;
  }
  .description__drivers {
    margin-bottom: 8px;
  }
  .photo {
    width: 52px;
    height: 64px;
    margin-left: 60px;
  }
  .photo__img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .photo__circle-big {
    width: 59px;
    height: 59px;
    bottom: -8px;
    left: -17px;
    top: initial;
    right: initial;
  }
  .will-do__wrapper {
    margin-bottom: 16px;
  }
  .description__will-do {
    display: inline;
  }
  .driver__wrapper {
    position: absolute;
    bottom: -15px;
    left: 60px;
  }
  .stages {
    bottom: 13px;
  }
  .description__circle-medium {
    top: 22px;
    right: 0%;
    left: initial;
  }
  .circle-medium {
    top: 116px;
    right: 33%;
  }
  .description {
    margin-left: 0;
  }
}

/* Mobile ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    height: 200px;
  }
  .photo-description__wrapper {
    padding: 16px 10.133333% 0 7.133333%;
  }
  .description__drivers {
    font-size: 14px;
  }
  .description__will-do {
    font-size: 10px;
    min-width: 213px;
  }
  .description__will-do p {
    display: block;
    min-width: 213px;
    line-height: 17px;
  }
  .description__wrapper {
    min-width: initial;
    max-width: initial;
  }
  .description__circle-medium {
    width: 5px;
    height: 5px;
    top: 17px;
    left: 104%;
  }
  .circle-medium {
    width: 8px;
    height: 8px;
    top: 81px;
    right: 19%;
  }
  .photo {
    margin-left: 9%;
  }
  .photo__name, .photo__profession {
    font-size: 10px;
  }
  .photo__circle-big {
    left: -16px;
  }
  .driver__wrapper {
    bottom: -9px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .description__circle-medium {
    left: 99%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 330px) {
  .description__circle-medium {
    left: 95%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 325px) {
  .description__will-do p {
    min-width: 200px;
  }
}

body {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
